@import "styles/_variables.scss";
@import "styles/blocks/_card.scss";

body {
  font-family: "Lato", sans-serif;
  font-size: 14px;
  font-weight: 400;
}

.wrapper {
  margin: 0 auto;
  max-width: $wrapper-width;
}

ul {
  padding: 0;
  margin: 0;
}

ul li {
  list-style: none;
}

